<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>/data/log/hsp-fo-discovery/hsp-fo-discovery.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%thread] %-5level %logger{36} - %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="FileAppender" />
    </root>
</configuration>